**/__pycache__/
venv/
data/images/
data/gcode/
data/csv/
.dvc/
src/__pycache__/
mlartifacts/
mlruns/
src/database/psycopg2/
sovol_venv/
src/database/gcode_extraction/
src/database/.env
.roo/
.vscode/
docs/
.env
STL_Files/
.github/
pytorchr_installation.txt
.src/SQL_files/
.src/data_processing/database_src/playground/
.TASK.md

# windsurf rules
.windsurfrules
