**/__pycache__/
venv/
data/images/
data/gcode/
src/__pycache__/
mlartifacts/
mlruns/
src/database/psycopg2/
sovol_venv/
src/database/gcode_extraction/
src/database/.env
.roo/
.vscode/
docs/
.env
STL_Files/
.github/
pytorchr_installation.txt
ai_instructions/
.lgd-nfy0

# windsurf rules
.windsurfrules
